$ZOOM_FACTOR: 200%;

.root {
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: crosshair;

    img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    img:hover {
        scale: $ZOOM_FACTOR;
        transform-origin: var(--x) var(--y);
    }
}