.row {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item_data {
    @extend .row;
    // border: 1px solid #ddd;
    width: 100%;
    height: 100vh;
    max-height: 700px;
    padding: 20px;
    background-color: #f0f8ff;
    gap: 25px;

    .left {
        // border: 1px solid #ddd;
        flex: 1;
        height: 100%;
        // padding-right: 0 40px;

        .main_image {
            width: 100%;
            height: 100%;
        }
    }

    .right {
        @extend .col;
        align-items: flex-start;
        justify-content: start;
        // border: 1px solid #ddd;
        flex: 1;
        height: 100%;
    }

    .tittle {
        letter-spacing: 0.5px;
        margin-bottom: 50px;
    }

    .price {
        font-size: 1.6rem;
        margin-bottom: 50px;
    }

    .metaData {
        @extend .row;
        border-bottom: 1px solid #ddd;
        width: 100%;
        justify-content: start;
        gap: 25px;

        span {
            cursor: pointer;
        }
    }

    .main {
        @extend .col;
        flex: 1;
    }

    .actions {
        @extend .row;
        width: 100%;
        justify-content: space-between;

        button {
            max-width: 400px;
        }
    }
}


.information {
    padding-top: 100px;
    width: 80%;
    // border: 1px solid #ddd;
    min-height: 300px;
}