.root {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    border-radius: 8px;

    * {
        border: none;
        color: black;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input {
        background: none;
        border: none;
        text-align: center;
        width: 50px;
        padding: 8px 12px;
    }

    input:focus {
        outline: none;
    }

    button {
        padding: 8px 12px;
        background: none;
        cursor: pointer;
    }
}