#header {
    width: 100%;
    min-height: 70px;
}

.row {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    @extend .row;
    width: 100%;
    max-width: 1500px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 40px;
}

.left {
    @extend .row;
    // border: 1px solid #f0f;
    min-width: 100px;
}

.center {
    @extend .row;
    flex: 2;
    // border: 1px solid #fff;

    h1 {
        font-family: cursive;
        font-size: 2.6rem;
    }
}

.right {
    @extend .row;
    // border: 1px solid #1af;
    min-width: 100px;
}